.score {
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    margin: 2% 20%;
}

.container {
    display: grid;
    grid-template-areas:
    'left right'
    'left right';
    grid-gap: 10px;
    padding: 10px;
}

.player {
    grid-area: left;
}

.machine {
    grid-area: right;
}